doctype html
html
  head
    title Users List
  body
    h1 Users
    table(border="2")
      tr
        th ID
        th First Name
        th Last Name
        th Email
        th Gender
        th Job Title
      each user in Users
        tr
          td= user.id
          td= user.first_name
          td= user.last_name
          td= user.email
          td= user.gender
          td= user.job_title